.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  background-color: #2c5b9479;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -2px -2px 8px 0 rgba(255, 255, 255, 0.5);
  border-radius: 12px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: rgba(243, 103, 103, 0.733);
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  color: #2c5b94;
  font-weight: bold;
  font-size: 0.6rem;
  text-align: center;
}
