.expenses-list {
  list-style: none;
  padding: 1rem;
  height: 22rem;
  overflow: auto;
  border-radius: 12px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 6px 0 rgba(255, 255, 255, 0.315);
}

.expenses-list__fallback {
  color: white;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 10px;
}
