.expenses {
  padding: 1rem;
  box-shadow: 6px 6px 10px 0 rgb(0 0 0 / 20%),
    -4px -4px 5px 0 rgb(255 255 255 / 50%);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.title {
  text-align: center;
  background: -webkit-linear-gradient(
    45deg,
    rgb(243, 103, 103),
    #220131,
    #220131
  );
  background-clip: #2a3b50;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); /* 50% white from bottom */
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-expense {
  width: 154px;
}

.button-group {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  section {
    flex-direction: row;
  }

  .button-group {
    flex-direction: column;
    height: 12rem;
    width: fit-content;
  }
}
