.background-shade {
  position: fixed;
  width: 200vw;
  height: 120vh;
  margin-top: -10%;
  background-color: #00000094;
  z-index: -1;
}
.background-black {
  position: fixed;
  width: 200vw;
  height: 100vh;
  margin-bottom: 50%;
  margin-left: -25%;
  margin-right: -25%;
  transform: rotate(-6deg);
  background-color: #202020;
  z-index: -2;
}
.background-yellow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-top: -20%;
  background-color: #3f3f3f;
  z-index: -2;
}
.background-white {
  position: fixed;
  width: 200vw;
  height: 100vh;
  margin-top: 60%;
  margin-left: -25%;
  margin-right: -25%;
  transform: rotate(-10deg);
  background-color: #ffdf6c;
  z-index: -2;
}

.expenses {
  padding: 1rem;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 2rem auto;
  width: 50rem;
  max-width: 90%;
  background-color: #707070;
  z-index: 2;
}

.title {
  text-align: center;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-expense {
  width: 154px;
}

.button-group {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  section {
    flex-direction: row;
  }

  .expenses {
    width: 75%;
  }

  .button-group {
    flex-direction: column;
    height: 12rem;
    width: fit-content;
  }
}

@media screen and (min-width: 1024) {
  .expenses {
    width: 75%;
    max-width: 768px;
  }
}
