.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: #8c9bb0;
  box-shadow: 6px 6px 10px 0 rgb(0 0 0 / 20%),
    -4px -4px 5px 0 rgb(255 255 255 / 50%);
}

.expense-item__description {
  display: flex;
  height: 100%;
  flex: 1;
  margin-left: 1rem;
  color: white;
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #2c5b9479;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -2px -2px 7px 0 rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
