.expenses-filter {
  color: white;
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.expenses-filter label {
  font-weight: bold;
  color: white;
}

.expenses-filter select {
  font: inherit;

  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  color: rgba(243, 103, 103, 0.733);
  background-color: #6a788c;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.25),
    -5px -5px 15px 0 rgba(255, 255, 255, 0.3);
  border: none;
}
