form {
  margin: 0 auto;
  width: 100%;
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

input {
  color: white;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  margin: 0 auto;
}

.new-expense__actions {
  text-align: center;
}

@media screen and (min-width: 768px) {
  form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 8rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
