.new-expense {
  background-color: #8c9bb0;

  border-radius: 6px;
}

.form-buttons {
  display: flex;
}

.cancel-button {
  cursor: pointer;
}

.cancel-button:hover {
  color: white;
}

.button-div {
  width: 100%;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.25),
    -10px -10px 15px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
  border-radius: 6px;
}

.button {
  font-size: 50px;
  color: #40005d;
}

.new-expense button {
  margin: 0 auto;
  font: inherit;
  cursor: pointer;
  width: 100%;
  height: 5rem;
  background-color: #8c9bb0;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  border: none;
  color: white;
}

.add-button {
  width: 20px;
}

.new-expense button:hover,
.new-expense button:active {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
