.form-buttons {
  display: flex;
}

.cancel-button {
  position: absolute;
  right: 84px;
  top: 24.5rem;
  cursor: pointer;
  color: white;
}

.cancel-button:hover {
  color: gray;
}

.button {
  font-size: 50px;
  color: #40005d;
}

.new-expense button {
  margin: 0 auto;
  font: inherit;
  cursor: pointer;
  width: 100%;
  height: 5rem;
  background-color: #2c5b9479;
  box-shadow: 6px 6px 10px 0 rgb(0 0 0 / 20%),
    -4px -4px 5px 0 rgb(255 255 255 / 50%);
  border-radius: 6px;
  border: none;
  color: white;
  transition: 0.5s ease-out;
}

.add-button {
  width: 20px;
}

.new-expense button:hover,
.new-expense button:active {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}

@media screen and (min-width: 549px) {
  .cancel-button {
    left: 15rem;
    top: 26.5rem;
  }
}

@media screen and (min-width: 768px) {
  .cancel-button {
    position: absolute;
    left: 21rem;
    top: 5rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
  }
}
