.form-buttons {
  display: flex;
}

.cancel-button {
  position: absolute;
  right: 84px;
  top: 25rem;
  text-decoration: underline;
  font-size: 20px;
  color: rgba(243, 103, 103, 0.733);
}

.cancel-button:hover {
  color: #2c5b9479;
}

.button {
  font-size: 50px;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  width: 154px;
  height: 5rem;
  background-color: #3f3f3f;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border: none;
  color: #ffffff;
  transition: 0.5s ease-in;
}

.new-expense button:hover,
.new-expense button:active {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}

@media screen and (min-width: 549px) {
  .cancel-button {
    left: 15rem;
    top: 26.5rem;
  }
}

@media screen and (min-width: 768px) {
  .cancel-button {
    left: 8rem;
    top: 5rem;

    cursor: pointer;
    color: white;
  }
}
